/* Style Sheet for portfolio website */

* { /*Helps with math of margin and padding*/
    box-sizing: border-box;
}

@font-face { /*Fonts*/
    font-family: 'Arvo';
    src: url('fonts/Arvo.woff') format('woff');
}

html { /*More font stuff*/
    font-family: Arvo, serif;
    height: 100%;
    font-size: 100%;
}

body {
    background-image: url(images/dumontr_web-background.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/*COMPUTER MODE*/
@media screen and (min-width: 1050px) {
    .row { /*Sets up two columns*/
        display: flex;
    }

    .menu { /*Left side of website*/
        flex: 50%;
        background-color: #ffffff;
        min-height: 100vh;
        font-size: 4vw;
        display: inline-block;
    }

    li a.menu-button {
        display: block;
        color: #000000;
        margin: 7vh 0;
        padding: 0;
        text-decoration: none;
    }

    li a:hover {
        color: #ffffff;
        background-color: black;
    }

    li a:visited {
        color: gray;
    }

    .logo {
        flex: 50%;
        text-align: center;
        margin: auto 5vh;
        max-width: 75%;
        min-width: 40%;
        width: 75%;
        height: auto;
    }

    li.welcome {
        font-size: 6vw;
        background-color: lightgray;
    }

    ul {
        text-align: center;
        list-style-type: none;
        margin: 12vh 0;
        padding: 0;
    }
}
/*END COMPUTER MODE*/

/*TABLET MODE*/
@media screen and (max-width: 1049px) {
    .row { /*Sets up two rows*/
        display: flex;
        flex-direction: column-reverse;
    }

    .logo { /*DO NOT FLEX, messes up size*/
        text-align: center;
        margin: 1vh auto;
        max-width: 80%;
        min-width: 40%;
        width: 80%;
        height: auto;
    }
    
    .menu { 
        flex: 60%; /*sets up how much the bottom of the website space*/
        background-color: #ffffff;
        height: 40vh;
        font-size: 6vw;
        display: inline-block;
    }

    li a.menu-button {
        display: block;
        color: #000000;
        margin: 7vh 0;
        padding: 0;
        text-decoration: none;
    }

    li a:hover {
        color: #ffffff;
        background-color: black;
    }

    li a:visited {
        color: gray;
    }

    li.welcome {
        font-size: 8vw;
        background-color: lightgray;
    }

    ul {
        text-align: center;
        list-style-type: none;
        margin: 7vh 0;
        padding: 0;
    }
}
/*END TABLET MODE*/

/*MOBILE MODE*/
@media screen and (max-width: 640px) {
    .row { /*Sets up two rows*/
        display: flex;
        flex-direction: column-reverse;
    }

    .logo {
        text-align: center;
        margin: 2vh auto;
        max-width: 85%;
        min-width: 40%;
        width: 85%;
        height: auto;
    }
    
    .menu { /*Left side of website*/
        flex: 60%;
        background-color: #ffffff;
        height: 70vh;
        font-size: 7vw;
        display: inline-block;
    }

    li a.menu-button {
        display: block;
        color: #000000;
        margin: 7vh 0;
        padding: 0;
        text-decoration: none;
    }

    li a:hover {
        color: #ffffff;
        background-color: black;
    }

    li a:visited {
        color: gray;
    }

    li.welcome {
        font-size: 9vw;
        background-color: lightgray;
    }

    ul {
        text-align: center;
        list-style-type: none;
        margin: 10vh 0;
        padding: 0;
    }
}
/*END MOBILE MODE*/
